{% extends 'base.html' %}
{% block content %}
<div class="probootstrap-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 mb40 text-center">
                <h2>{{ single.title }}</h2>
                <!--<p>{{ single.date }}</p>-->
            </div>
        </div>
        <div class="row">
            {% for image in single.image.all %}
            <div class="col-md-6">
                <p><a href="{{ image.image.url }}" class="image-popup"><img
                        src="{{ image.image.url }}"
                        class="img-responsive"></a>
                </p>
            </div>
            {% endfor %}

        </div>
        <div class="col-md-6 col-md-offset-3 mb40 text-center">
            <p>{{ single.date }}</p>
        </div>
    </div>
    {% endblock content %}